.gamepad-image {
    width: 50%;
    border-radius: 10px;
    min-width: 220px;
}
.first-segment {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 100px;
    background-color: rgb(41, 41, 41);
    clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
    padding-bottom: 100px;
    padding-top: 110px;
}
.first-text-div {
    width: 50%;
    display: inline-block;
    height: 100%;
}
.first-text {
    color: var(--optional-clr);
    font-size: 35px;
    margin-right: 20px;
    pointer-events: none;
}
.hidden-brand-name {
    font-size: 0.1px;
    opacity: 0;
    color: white;
    font-weight: 700;
    text-wrap: wrap;
    width: 50px;
}
.upper-text {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}
.additional-text-div {
    border: none;
    background-color: var(--primary-clr);
    padding: min(25px, 3vw);
    border-radius: 10px;
    max-width: 700px;
    min-width: 100px;
    box-sizing: border-box;
    width: 100%;
}
.additional-text {
    width: 100%;
    border: none;
    color: black;
    pointer-events: none;
    font-size: 24px;
    font-weight: 700;
}
.introduction {
    margin-right: 100px;
    max-width: 700px;
}
.brand-name-div {
    margin-left: 80px;
}
.brand-name {
    font-size: 60px;
    width: 200px;
    color: white;
    pointer-events: none;
    text-shadow: 6px 6px 20px rgba(0, 0, 0, 0.6);
}

.first-segment-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    max-width: 460px;
    column-gap: 20px;
}

.buy-button,
.sign-up-button {
    max-width: 200px;
    width: 100%;
    padding: 18px 0px;
    border-radius: 10px;
    border: none;
    box-sizing: border-box;
}   
.buy-button {
    position: relative;
    background-color: var(--accent-clr);
    color: white;
    font-size: 20px;
    font-weight: 600;
    transition-duration: 0.15s;
    background: linear-gradient(to right, rgb(128, 0, 255), var(--accent-clr));
    cursor: pointer;
}

.buy-button:hover {
    scale: 1.02;
    box-shadow: 0px 0px 20px rgba(128, 0, 255, 0.8);
    font-weight: 600;
}
.buy-button:active {
    scale: 0.99;
}
.sign-up-button {
    background-color: transparent;
    border: var(--optional-clr) solid 2px;
    color: var(--optional-clr);
    font-size: 19px;
    font-weight: 600;
    transition-duration: 0.15s;
    box-sizing: border-box;
}
.sign-up-button:hover {
    color: #242424;
    background-color: white;
    scale: 1.02;
    cursor: pointer;
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.3);
    
}
.sign-up-button:active {
    scale: 0.99;
}