:root {
    --background-clr: #363636; 
    --primary-clr: #00cc25;
    --secondary-clr: rgb(0, 0, 0);
    --accent-clr: #a900dd;
    --optional-clr: #ffffff;

}
html {
  scroll-behavior: smooth;
}
body {
    background-color: var(--background-clr);
    color: var(--primary-clr);
    margin: 0;
}
.white-line {
    width: 70%;
}

.main-content {
    font-family: Roboto, Arial;
    position: relative;
}
.end-of-site {
    bottom: 0;
    height: 220px;
    background-color: rgb(28, 28, 28);
    margin-top: 350px;
}
.horizontal-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.vertical-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
}
.widget:hover {
    text-decoration: underline;
    cursor: pointer;
}
.copyright-flex {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.copyright-sign {
    margin: 0 auto;
    text-align: center;
}
.brands-div {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    right: 0;
    min-width: 100px;
    width: 200px;
    max-width: 300px;
}
.fa-brands {
    scale: 2;
    cursor: pointer;
}
.fa-brands:hover {
    opacity: 0.7;
}