.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: var(--secondary-clr);
    height: 70px;
    z-index: 100;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.6);
    border-bottom: solid 2px rgb(137, 137, 137);
    font-family: Roboto;
}
.hide {
    display: none;
}
/*-------------Right Segment--------------*/

.right-segment {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 270px;
    margin-right: 20px;
}
.profile-picture {
    position: relative;
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 30px;
    cursor: pointer;
}
.profile-picture-div .tooltip {
    position: absolute;
    color: var(--optional-clr);
    background-color: rgb(0, 0, 0);
    bottom: -168px;
    right: 0;
    text-wrap: nowrap;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 15px;
    opacity: 0;
    transition-duration: 0.25s;
    pointer-events: none;
    transform: translateX(500px);
    transition: all ease-out 0.2s;
}
.profile-picture-div:hover .tooltip {
    opacity: 1;
    transform: translateX(0px);
}
.first-name,
.last-name,
.number,
.address {
    display: flex;
    align-items: center;
}
.identity-icon {
    width: 20px;
    margin-right: 10px;
}
.cart-icon-div {
    position: relative;
    cursor: pointer;
}
.cart-icon-div .badge {
    padding: 4px 8px;
    position: absolute;
    background-color: rgb(221, 0, 0);
    font-size: 17px;
    border-radius: 50px;
    top: -20px;
    right: 0px;
    color: var(--optional-clr);
    font-weight: 600;
}
.cart-icon-div .tooltip {
    position: absolute;
    left: -22px;
    bottom: -57px;
    font-weight: 600;
    font-size: 18px;
    color: var(--optional-clr);
    background-color: var(--secondary-clr);
    padding: 10px;
    border-radius: 7px;
    opacity: 0;
    transition-duration: 0.2s;
    transform: translateY(-20px);
    pointer-events: none;
    
}
.cart-icon-div:hover .tooltip {
    opacity: 1;
    transform: translateY(0px);
    
}
.log-in-button::after {
    content: "";
    vertical-align: middle;
    background-image: url(/Images/Icons/log-in.png);
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0;
    width: 0;
    height: 0;
    margin: 0;
    transform: translateX(3px);
    transition-duration: 0.3s;
}
.log-in-button:hover::after {
    position: static;
    display: inline-block;
    transform: translateX(0px);
    width: 30%;
    height: 24px;
    opacity: 1;
    margin-left: 8px;
}
.log-in-button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 200px;
    min-width: 100px;
    width: 100%;
    height: 50px;
    white-space: nowrap;
    color: var(--optional-clr);
    border-radius: 10px;
    background: transparent;
    border: var(--accent-clr) 2px solid;
    font-weight: 600;
    cursor: pointer;
    box-sizing: border-box;
    z-index: 1;
    transition-duration: 0.15s;
}


.log-in-button::before {
    content: "";
    position: absolute;
    right: 50%;
    left: 50%;
    top: 0;
    height: 100%;
    opacity: 0;
    background: var(--accent-clr);
    transition-duration: 0.3s;
    border-radius: 5px;
    z-index: -1;
}
.log-in-button:hover::before {
    content: "";
    opacity: 1;
    left: 0;
    right: 0;
}
.log-in-button:active {
    opacity: 0.7;
}

/*-------------Left Segment--------------*/

.left-segment {
    display: flex;
    align-items: center;
}

.home {
    margin: 0;
    font-size: 24px;
    color: var(--optional-clr);
    cursor: pointer;
    text-decoration: none;
    transition: all 0.15s;
}
.home:hover {
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 1);
}
.menu-icon {
    width: 40px;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
}

/*-------------Middle Segment--------------*/
.middle-segment {
    width: 50%;
    min-width: 150px;
    margin-left: 30px;
    margin-right: 30px;  
}
.search-bar-div {  
    display: flex;
    align-items: center;
    background: linear-gradient(to right, rgb(128, 0, 255), var(--accent-clr));
    border-radius: 10px;
}
.search-bar {
    width: 100%;                  
    height: 50px;
    font-size: 20px;
    padding-left: 10px;
    border-radius: 10px;
    border: none;
    box-sizing: border-box;
    background-color: transparent;
    color: var(--optional-clr);
}
.search-bar::placeholder {
    color: var(--optional-clr);
    font-size: 20px;
} 
.search-bar:focus {
    outline: none;
}
.search-button {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    cursor: pointer;
}
.search-icon {
    width: 23px;
}

/*Responsive for header*/


@media (max-width: 750px) {
    .search-bar::placeholder {
        font-size: 18px;
    }
    .main-header .log-in-button {
        padding: 16px 20px;
    }
    .main-header .right-segment {
        max-width: 200px;
    }
    .main-header .middle-segment {
        margin-left: 10px;
        margin-right: 10px;
    }
    .main-header .menu-icon {
        margin: 0px 10px;
    }
    .main-header .home {
        font-size: 0.1px;
        opacity: 0;
    }
}

@media (max-width: 520px)  {
    .main-header .right-segment {
        justify-content: space-evenly;
        max-width: 220px;
        margin: 0;

    }
    .main-header .log-in-button, .log-in-div, .log-in-button::after, .log-in-button::before {
        border: 0;
        opacity: 0;
        padding: 0;
        width: 0;
        height: 0;
        font-size: 0;
    }
}



