body {
    font-family: Roboto;
    padding-top: 100px;
}
p {
    margin: 0;
}
.main-content {
    display: flex;
    flex-direction: row;
}

/*----------HEADER----------*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: var(--secondary-clr);
    color: black;
    height: 70px;
    z-index: 100;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.6);
    border-bottom: solid 2px rgb(137, 137, 137);
}
.header .left-side {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header .middle-side {
    justify-self: center;
}
.header .right-side {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 350px;
    margin-right: 20px;
}

.menu-icon {
    cursor: pointer;
    width: 40px;
    margin: 0px 20px;
}
.home-button {
    color: var(--optional-clr);
    text-decoration: none;
    font-size: 1.5rem;
}
.home-button-href {
    text-decoration: none;
}
.hidden-page-title {
    opacity: 0;
    font-size: 0.1px;
}
.page-title {
    font-size: 2rem;
    margin: 0px 20px;
    color: var(--optional-clr);
    white-space: nowrap;
}
.track-orders-button {
    padding: 15.5px 30px;
    height: 50px;
    border-radius: 10px;
    background-color: transparent;
    color: white;
    font-size: 15px;
    font-weight: 600;
    border: solid 1.7px white;
    max-width: 370px;
    cursor: pointer;
    transition: background-color 0.15s, color 0.15s;
    white-space: nowrap;
    box-sizing: border-box;
}
.track-orders-button:hover {
    background-color: white;
    color: var(--secondary-clr);
}
.track-orders-button:active {
    opacity: 0.8;
}
.log-in-button::after {
    content: "";
    vertical-align: middle;
    background-image: url(/Images/Icons/log-in.png);
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0;
    width: 0;
    height: 0;
    margin: 0;
    transform: translateX(35px);
    transition-duration: 0.3s;
}
.log-in-button:hover::after {
    position: static;
    display: inline-block;
    transform: translateX(0px);
    width: 30%;
    height: 24px;
    opacity: 1;
    margin-left: 8px;
}
.log-in-button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 100px;
    width: 100%;
    height: 50px;
    white-space: nowrap;
    color: var(--optional-clr);
    border-radius: 10px;
    background: transparent;
    border: var(--accent-clr) 2px solid;
    font-weight: 600;
    cursor: pointer;
    box-sizing: border-box;
    z-index: 1;
    transition-duration: 0.15s;
}


.log-in-button::before {
    content: "";
    position: absolute;
    right: 50%;
    left: 50%;
    top: 0;
    height: 100%;
    opacity: 0;
    background: var(--accent-clr);
    transition-duration: 0.3s;
    border-radius: 5px;
    z-index: -1;
}
.log-in-button:hover::before {
    content: "";
    opacity: 1;
    left: 0;
    right: 0;
}
.log-in-button:active {
    opacity: 0.7;
}
.profile-photo {
    object-fit: cover;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    cursor: pointer;
}
.profile-photo-div {
    position: relative;
}
.profile-photo-div .tooltip {
    position: absolute;
    color: var(--optional-clr);
    background-color: rgb(0, 0, 0);
    bottom: -170px;
    right: -23px;
    text-wrap: nowrap;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 15px;
    opacity: 0;
    transition-duration: 0.2s;
    pointer-events: none;
    transform: translateX(500px);
    transition: all ease-out 0.2s;
}
.profile-photo-div:hover .tooltip {
    opacity: 1;
    transform: translateX(0px);
}
.first-name,
.last-name,
.number,
.address {
    margin: 15px 0;
    display: flex;
    align-items: center;
}
.identity-icon {
    width: 20px;
    margin-right: 10px;
}


/*----------CART----------*/

.left-side-div {
    margin-left: 40px;
}
.brand-inner-div {
    width: 160px;
}
.brand {
    width: 100px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: 50px;
    text-shadow: 5px 6px 20px rgba(0, 0, 0, 0.7);
    text-decoration: none;
    text-decoration: none;
}

.game-cards {
    display: inline-flex;
    flex-direction: column;
    row-gap: 30px;
}
.game-card {
    display: flex;
    background-color: var(--optional-clr);
    border-radius: 8px;
    padding: 10px;
    box-shadow: 5px 6px 20px rgba(0, 0, 0, 0.7);
    column-gap: 10px;
}
.game-image-div {
    display: flex;
    align-items: center;
}
.game-image {
    width: 230px;
    height: auto;
    border-radius: 8px;
}

.game-info-div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #282828;
    padding: 10px;
    border-radius: 8px;
    width: 100%;
}
.game-name-div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-clr);
    border-radius: 15px;
    width: 300px;
    max-width: 300px;
    height: 120px;
    border: black solid 2px;
}
.game-name {
    color: var(--secondary-clr);
    text-align: center;
    font-size: 1.7rem;
    font-weight: bold;
}
.game-price-quantity-div {
    color: white;
    font-weight: 500;
    font-size: 1.6rem;
    margin: 0;
}
.price {
    margin: 10px 0px;
}
.quantity {
    margin-bottom: 20px;
    display: flex;
    
}
.quantity-input {
    display: none;
    transition-duration: 0.2s;
    border: none;
    border-radius: 8px;
    font-size: 1.6rem;
}
.quantity-input:focus {
    outline: none;
}
.quantity-input.show {
    display: inline-block;
    width: 65px;
    
}
.quantity-label.hide {
    display: none;
}
.save-button {
    display: none;
    border-radius: 8px;
    background-color: white;
    color: black;
    border: none;
    font-weight: 500;
    margin-left: 10px;
    transition-duration: 0.15s;
    cursor: pointer;
}
.save-button:hover {
    opacity: 0.8;
}
.save-button.show {
    display: inline-block
}
.buttons-div {
    display: flex;
    justify-content: space-between;
}
.remove-button {
    background-color: #CC0000;
    border: none;
    padding: 12px 30px;
    border-radius: 12px;
    color: white;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
    transition-duration: 0.15s;
}
.update-button {
    background-color: var(--optional-clr);
    border: none;
    padding: 12px 30px;
    border-radius: 12px;
    color: var(--secondary-clr);
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
    transition-duration: 0.15s;
}

.remove-button:hover,
.update-button:hover {
    opacity: 0.8;
}
.remove-button:active,
.update-button:active {
    opacity: 1;
}

/*----------PAY CHECK----------*/

.right-side-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    right: 40px;
    top: 80px;
    row-gap: 20px;
}
.pay-check {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--optional-clr);
    padding: 25px;
    border-radius: 15px;
    transition-duration: 0.15s;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3);
}
.pay-check-title-div {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.pay-check-title {
    color: var(--secondary-clr);
    font-size: 30px;
    font-weight: 600;
}
.delivery-info {
    display: flex;
    margin-bottom: 25px;
}
.delivery-options {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
    gap: 25px;
    
}
.delivery-option {
    margin-right: 20px;
    display: flex;
}
.delivery-text {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.delivery-title {
    font-weight: bold;
    color: var(--secondary-clr);
}
.delivery-sub {
    font-weight: 700;
    font-size: 18px;
    color: var(--accent-clr);
}
.radio-input-div {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 25px;
    margin-right: 30px;
}
.radio-input {
    accent-color: var(--accent-clr);
    font-size: 30px;
    width: 30px;
    height: 30px;
    margin: 0px 0px 0px 12px;
    cursor: pointer;
    transition-duration: 0.2s;
}
.radio-input:hover {
    transform: scale(1.2);
}

.total-cash-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
}
.cash-div {
    border-radius: 10px;
    background-color: var(--primary-clr);
    display: flex;
    justify-content: space-between;
    gap: 40px;
    padding: 10px;
    width: 300px;
    box-sizing: border-box;
}
.price-text {
    color: var(--secondary-clr);
    font-size: 20px;
    font-weight: 500;
}
.pay-button-div {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.pay-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, rgb(128, 0, 255), var(--accent-clr));
    color: var(--optional-clr);
    border: none;
    width: 320px;
    height: 80px;
    border-radius: 15px;
    font-weight: 700;
    font-size: 30px;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
}
.pay-button::after {
    content: "";
    position: static;
    display: inline-block;
    background-image: url(/Images/Icons/wallet.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 0;
    height: 0;
    opacity: 0;
    transform: translateY(60px);
    transition-duration: 0.2s;
}
.pay-button:hover::after {
    opacity: 1;
    transform: translateY(0);
    width: 40px;
    height: 40px;
    margin-left: 40px;
}
.pay-button:hover {
    opacity: 0.8;
    box-shadow: 0px 0px 20px rgba(128, 0, 255, 0.8);
}
.pay-button:active {
    transition-duration: 0.01s;
    opacity: 1;
}

.hidden-brand-name {
    font-size: 0.1px;
    opacity: 0;
}